{
  "presets": ["react", "env"],

  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-react-display-name"
  ]
}
